<h2 class="text-center"> Your stupid coach <h2>

<h5 class="text-center">Ask anything to your coach : </h5>

<form action = "/answer" data-turbo = "false" method ="get" class="text-center form-label">
  <input type ="text"  name = "questions" class="rounded form-control form-check-label">
  <input class="btn btn-primary " type ="submit" value = "Ask!" >
</form>
